@font-face {
  
    font-family: markpro;
    src: url(assets/fonts/Mark-Pro.ttf);

}
@font-face {

    font-family: markpro-black;
    src: url(assets/fonts/MarkPro-Black.otf);
  
}
@font-face {
  
    font-family: markpro-bold;
    src: url(assets/fonts/Mark-Pro-Bold.otf);

}
@font-face {

    font-family: markpro-medium;
    src: url(assets/fonts/Mark-Pro-Mediun.otf);

}
@font-face {

    font-family: FontsFree-Net-AlbraMedium;
    src: url(assets/fonts/FontsFree-Net-AlbraMedium.ttf);

}
@font-face {

    font-family: FontsFree-Net-AlbraBold;
    src: url(assets/fonts/FontsFree-Net-AlbraBold.ttf);

}

.landing-container .mkp-black {
  font-family: markpro-black, sans-serif;
}
.landing-container .mkp-bold {
  font-family: markpro-bold, sans-serif;
  font-weight: 900;
}
.landing-container .mkp-medium {
  font-family: markpro-medium, sans-serif;

}
.landing-container .FontsFree-Net-AlbraMedium {
  font-family: FontsFree-Net-AlbraMedium, sans-serif;
  font-weight: 900;
}
.landing-container .FontsFree-Net-AlbraBold {
  font-family: FontsFree-Net-AlbraBold, sans-serif;
  font-weight: 900;
}
.landing-container body {
  color-scheme: light dark;
  color: #1d252d;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-family: markpro, sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .hidden-tw {
      display: none
  }
  @variants responsive {
      .hidden-tw {
          display: none
      }
  }
}
@media (min-width: 1124px){
  .figure-text-calc {
      font-size: calc((14.5vw - 4.5rem) / 7);
  }
}
.img-banners{
  width: 532px;
}

.padding-grid{
  padding: 133px 33px;
  padding-top: 0;
}